#find-doctor {
    padding: 4rem 0;
}
.find-wrapper {
    display: flex;
    justify-content: space-around;
}
.find-left-item {
    padding-top: 5rem;
}
.find-left-item h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.5rem;
}
.find-right-item {
    margin-top: 7rem;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 43% 57% 29% 71% / 58% 44% 56% 42%;
    background-image: url("../assets/imges/olga-guryanova-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1.9rem var(--light-color), 0 0 0 2rem var(--primary-color),
      0 0 0 4.9rem var(--light-color), 0 0 0 5rem var(--dark-color);
}
.nearest-hospital-title {
    font-size: 2rem;
    font-weight: 600;
}
.find-search {
    padding-right: 2rem;
}
.nearest-hospital {
    padding-top: 4rem;
}
.nearest-details {
    display: flex;
}
.nearest-search, .nearest-user, .nearest-call {
    padding: 1.5rem;
    border-radius: 5rem;
}

.nearest-search {
    color: #8e66e7;
    background-color: #eeeefd;
}

.nearest-user {
    color: #6490e1;
    background-color: #edf2fc;
}

.nearest-call {
    color: #75c5ab;
    background-color: #eafbfa;
}

.find-para {
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 3rem;
}

