#footer {
    padding-bottom: 2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    padding: 5rem 0;
    background-color: var(--dark--color3);
    display: block;

}
/*-----------------------logo-----------------------*/
.footer-logo {
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin-top: -2rem;
}
    
/*-----------------------columns-----------------------*/
.footer-col {
    width: 20%;
    padding: 0 1.5rem;
}
.footer-col p {
    line-height: 2.5rem;
}
.footer-col h4 {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 0.2rem;
    box-sizing: border-box;
    width: 5rem;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 1rem;
}
.footer-col ul li a {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease-in-out;

}



  /* ----------------------------------------------------------------------------------- */
  .footer-col ul li a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    overflow: hidden;
    background: linear-gradient(to right, #102851, #102851 50%, #96989e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
  }
  .footer-col ul li a:hover {
    background-position: 0 100%;
  }
  

  /* -------------------------------------------------- */
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border: solid 1px var(--secondary-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.footer-col .social-links i {
    color: var(--dark-color);
}
.footer-col .social-links a:hover {
    transform: translateY(0.2rem);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}
.footer-col a:hover i {
  color: var(--dark-color);
}
