.footer {
    padding: 2rem;
}
.row {
    display: flex;
}

/*-----------------------logo-----------------------*/
.footer-logo {
    width: 12rem;
    height: 8rem;
    object-fit: contain;
    margin-top: -2rem;
}

/*-----------------------columns-----------------------*/
.footer-col {
    width: 25%;
}
.footer-col h4 {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 1rem;
}

  /* -------------------list-hover-effect------------------- */
.footer-col ul li a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    overflow: hidden;
    background: linear-gradient(to right, #102851, #102851 50%, #96989e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
  }
  .footer-col ul li a:hover {
    background-position: 0 100%;
  }
  
  /* ----------------------social-media---------------------------- */
.footer-col .social-links a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    text-align: center;
    line-height: 4rem;
    border: solid 1px var(--secondary-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.footer-col .social-links i {
    color: var(--dark-color);
}
.footer-col .social-links a:hover {
    transform: translateY(0.2rem);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}
.footer-col a:hover i {
  color: var(--dark-color);
}
