#header {
    padding: 1rem 5rem;
    min-height: 10vh;
    background-color: var(--accent-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-wrapper {
    display: flex;
    align-items: center;
}
.navbar-nav {
    margin-right: auto;
}
.nav-lists {
    display: flex;
    margin-left: 3rem;
}
.nav-lists li:nth-child(2) {
    margin: 0 3rem;
}
.nav-link {
    color: var(--dark-color);
    font-weight: 600;
}

.navbar-logo img {
    width: 15rem;
    height: 5rem;
    object-fit: contain;
}

/* ------------buttons------------- */
.sign-in {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 1.5rem 2.5rem;
}
.log-in {
  background: none;
    color: var(--dark-color);
    padding: 1.5rem 3rem;
}
.log-in:hover {
  color: var(--primary-color);
}

/* ---------------navbar-hover--------------- */
.navbar-nav ul li a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  overflow: hidden;
  background: linear-gradient(to right, #014ed5, #014ed5 50%, #102851 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 400ms ease;
  text-decoration: none; 
}
.navbar-nav ul li a:hover {
  background-position: 0 100%;
}


