#hero {
    padding-top: 4rem;
    min-height: 75vh;
    background-color: var(--accent-color);
}
.hero-wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.hero-left-item {
    padding-top: 5rem;
}
.hero-left-item h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
}
.hero-para {
    margin-top: 2rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 3rem;
}
.left-item-boxes {
    display: flex;
}
.hero-box {
    font-size: 1.3rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    background-color: var(--dark-color);
    margin: 0.4rem;
    padding: 1rem 3rem;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.hero-box:hover {
    background-color: #193463;
}
.hero-box img {
    width: 30px;
    height: 30px;
    margin: 0.5rem 2rem 0 0;
    
}
.hero-right-item  {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1.9rem var(--light-color), 0 0 0 2rem var(--dark-color),
      0 0 0 4.9rem var(--light-color), 0 0 0 5rem var(--primary-color);
}

.hero-right-item img {
    object-fit: contain;
    position: relative;
    width: 400px;
    height: 400px;
}
