#patients-feedback {
    padding: 7rem 0;
}
.feedback-wrapper h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.feedback-wrapper {
    text-align: center;
    line-height: 3.5rem;
}
.feedback-total {
    display: flex;
    justify-content: space-evenly;
}
.feedback-left-item img {
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.patient-content {
    display: flex;
}
.patient-profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2rem;
    background-color: #d6dff3;
}
.patient-content h2 {
    font-size: 1.6rem;
    font-weight: 600;

}
.patient-content span {
    font-size: 1.4rem;
    color: var(--secondary-color);
}
.feedback-behind-circle {
    margin-top: 20rem;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #9aaacc;
    border-radius: 27% 73% 25% 0% / 75% 35% 0% 25%;
    box-shadow: 0 0 0 1.9rem var(--light-color), 0 0 0 2rem #205179;
}
.star {
    width: 15px;
    height: 15px; 
}
.feedback-right-item {
    margin-bottom: 10rem;
    border-radius: 1rem;
}
.feedback-right-item p {
    text-align: justify;
    color: var(--secondary-color);
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}
.patient-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ---------------------feedback-box-hover------------------- */

.feedback-right-item  {
    padding-top: 5rem;
    background-color: var(--background);
    display: block;
    width: 300px;
    min-height: 90px;
    border: 3px solid var(--primary);
    padding: 2rem;
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--secondary),
    20px -20px 0 -3px var(--background), 20px -20px var(--light); 
    transition: box-shadow 1s, top 1s, left 1s;
    position: relative;
    top: 70px;
    left: 0;
    cursor: pointer;
  }
  
  .feedback-right-item:hover {
    top: -1px;
    left: 1px;
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--secondary),
        0 0 0 -3px var(--background), 0 0 0 0  var(--light);
  }

  :root {
    --background: white;
    --primary: #205179;
    --secondary: #4684be;
    --light: #b1d4e0;
  } 

  

  