
.popular-search {
  padding: 5rem;
}
.popular-search h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.5rem;
    padding: 3rem 0;
}

.popular-wrapper {
    display: flex;
    justify-content: space-around;
}
.list {
    font-weight: 600;
    padding-right: 2rem;
    border-right: 0.3rem solid #1e3799;
    line-height: 6rem;
}
.list-2, .list-3 {
  color: var(--secondary-color);
}
.popular-box {
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    background-color: var(--white-color);
}
.popular-box:hover {
    background-color: var(--accent-color);
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    cursor: pointer;
}
.popular-box img {
    width: 70px;
    height: 70px;
}
.popular-box p {
    font-weight: 600;
    margin-top: 1rem;
}



 @-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 #D3D1E0;
            box-shadow: 0 0 0 0 #D3D1E0;
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px #D3D1E0;
            box-shadow: 0 0 20px 0px #D3D1E0;
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 #D3D1E0;
            box-shadow: 0 0 0 0 #D3D1E0;
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px #D3D1E0;
            box-shadow: 0 0 20px 0px #D3D1E0;
  }
}


  
