
.search-total {
    display: flex;
    justify-content: center;
}
.search-wrapper {  
    margin: 0 auto;
    transform: translateY(-10rem);
    background-color: var(--white-color);
    padding: 5rem 2rem;
    border-radius: 1rem; 
    width: clamp(83%, 25vw, 10rem);
    box-shadow: 0px 4px 15px 4px #D3D1E0;
}
.search-wrapper h3 {
    font-weight: 600;
    font-size: 1.8rem;
    padding: 2rem 0 2rem 1.5rem;
}
.search-input input {
    width: 45rem;
    font-family: inherit;
    border: 0.1rem solid var(--secondary-color2);
    border-radius: 0.5rem;
    padding: 2rem 4rem;
    outline: 0;

}
.search-input input:focus {
    
    box-shadow: 0 0 24px 0 #d2ddef;
}
::placeholder {
    color: var(--secondary-color);
}
.search-input {
    margin: 1rem;
    position: relative;
}
.search-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 2rem;
}
.search-btn-div {
    padding-top: 1rem;
}
.search-btn:hover {
    background-color: var(--primaryHover-color);
}

.closing-btn {
    padding: 1rem 2rem;
    color: var(--dark-color);
    background-color: var(--accent-color);
    margin-left: 1rem;
}
.closing-btn:hover {
    color: var(--white-color);
}
.fa-xmark {
    margin-left: 0.5rem;
}
.more-btn {
    color: var(--primary-color);
    background-color: #ccdfff;
}
/* .input-left-icon {
    width: 30px;
    height: 30px;
    margin-right: -2rem;
} */
.input-icon {
    position: absolute;
    margin: 3rem 0 0 1.5rem;
}

  






